@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&family=Zen+Kaku+Gothic+Antique&display=swap');

body.dark {
    background: #0c1622;
    color: #F9F5FF;
    font-family: 'Source Code Pro', monospace;
}

body.light {
    background: #F9F5FF;
    color: #0c1622;
    font-family: 'Source Code Pro', monospace;
}

.navbar-dark .navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.font-zen {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.nanta {
    color: #00A7E1;
}

.title {
    font-weight: bold;
    font-size: 1.5rem;
}

.dev {
    color: #FF8600;
}

h1, h2, h3, h4, h5 {
    color: #00a7e1;
}

code {
    color: #ff61b0;
}

.bubble {
    width: 90%;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 3rem;
    margin-right: 5;
    text-align: center;
}

.article-title {
    color: #ffa700 !important;
    text-decoration: inherit !important;
    font-weight: bolder !important;
}