@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400;900&display=swap');

body.light {
    background: #F8F1FF;
    color: #171738;
   font-family: 'Titillium Web', sans-serif;
}

.navbar-dark .navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0;
    align-items: center;
    margin-top: 1rem;
}

.font-zen {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.font-titillium {
    font-family: 'Titillium Web', sans-serif;
}

.nanta {
    color: #1481BA;
}

.title {
    font-weight: 900;
    letter-spacing: 3px;
    font-size: 2rem;
}

.dev {
    color: #DB5461;
}

h1, h2, h3, h4, h5 {
    color: #1481BA;
    letter-spacing: 2px;
}

code {
    color: #DB5461;
}

.bubble {
    width: 90%;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 3rem;
    margin-right: 5;
    text-align: center;
}

.article-title {
    color: #ffa700 !important;
    text-decoration: inherit !important;
    font-weight: bolder !important;
}